body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    margin: 0;
}

#weather-info {
    text-align: center;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}